h1 Editing <%= singular_table_name %>

/ https://github.com/slim-template/slim#output-without-html-escaping-
== render 'form'

= link_to 'Show', @<%= singular_table_name %>
= link_to 'Back', <%= index_helper %>_path
