.form-inputs
  = f.input :title, hint: 'The Record Title'
  = f.input :year, hint: 'The Year the record was published'
  = f.input :condition, hint: 'On a scale of 1 to 10 with 10 being best condition and 1 being the worst'
